<div class="layout1">
  <div class="main_container">

    <div class="mytab">
      <ul class="tabs">
        <li><%= link_to "All", { :controller => 'surfspots', :action => 'index' }, :class => 'active' %></li>
        <li><%= link_to "Browse by state and city", :controller => 'surfspots', :action => 'browse' %></li>
	    <li><%= link_to "Search", :controller => 'surfspots', :action => 'search' %></li>
      </ul>

      <div class="tabs_content">

        <div class="section">
	      <ul>
            <% @surfspots.each do |surfspot| %>
              <li class="entry"><%= link_to surfspot.full_name, surfspot_path(surfspot) %></li>
            <% end %>
          </ul>

	      <div class="spacer"></div>
	    </div>
		
		<div class="separator"></div>

        <div class="section">
          <%= link_to "suggest a new surfspot", :controller => 'surfspots', :action => 'suggest' %>
        </div>

	    <div class="spacer"></div>
	  </div>
	</div>
	
  </div>
</div>