<div class="layout2">

  <div class="side_container">
          <%= render :partial => "map" %>
		  <%= render :partial => "nearby_surfspots" %>
		  <%= render :partial => "surfers" %>
  </div>

  <div class="main_container" id="xsnazzy">

	<%= render :partial => "layouts/xsnazzy_box_top", :locals => { :colors => "white_grey" } %>
	
    <div class="header">
      <%= render :partial => "surfspot_header" %>
    </div>
	
	<div class="body">
	
      <ul id="menu">
	  <li><%= link_to "<span>Reports<div id=\"count\">(#{@surfspot.reports.count})</div></span>", surfspot_path(@surfspot) %></li>
	  <li><%= link_to "<span>Sessions<div id=\"count\">(#{@surfspot.surf_sessions.count})</div></span>", surfspot_sessions_path(@surfspot.id), :class => 'active' %></li>
      <li><%= link_to "<span>Photos<div id=\"count\">(#{@surfspot.photos.length})</div></span>", surfspot_photos_path(@surfspot.id) %></li>
	  </ul>
  
      <div class="spacer"></div>

        <div id="surf_sessions">
		    <% if @sessions.length != 0 %>
		        <%= render :partial => "surf_sessions/surf_session", :collection => @sessions, :locals => { :layout => "w_avatar", :hide_edit_links => true, :hide_surfer => false, :hide_surfspot => true, :media_size => "thumb" } %>
			<% else %>
			    <br />
			    <span style="font-size: 10pt; padding: 0.5em">
			        No surf session posted yet.
				</span>
			<% end %>
		</div>

		<div id="pagination">
		  <%= will_paginate @sessions %>
		</div>
		
    </div>
	
    <%= render :partial => "layouts/xsnazzy_box_bottom", :locals => { :colors => "white_grey" } %>
  </div>
</div>
