<div class="layout1">
  <div class="main_container">
    <%= render "shared/error_messages", :target => @user.avatar %>

	<div class="myform">
      <%= form_tag("upload", :multipart => true) do %>
        <h1>Update your profile picture</h1>
		<p class="description">Use this form to add, update or delete your profile picture</p>

        <% if @user.avatar.exists? %>
		  <div class="row">
		    <label for="current_avatar">Current picture</label>
            <%= avatar_tag(@user) %>
		    <%= link_to "delete", :controller => "avatar", :action => "delete", :confirm => "Are you sure?" %>
			<div class="spacer"></div>
		  </div>
        <% end %>
		  
		<div class="row">
		  <label for="new_avatar">
		    New picture
		    <span class="description">1MB max.</span>
		  </label>
          <%= file_field "avatar", "image", :size => 20, :class => "file" %>
		  <div class="spacer"></div>
		</div>
		  
		<%= submit_tag "Upload", :class => "submit" %> 
		<div class="spacer"></div> 
      <% end %>
	</div>

  </div>
</div>
