<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
  <head> 
    <title><%= @title %></title> 
    <%= stylesheet_link_tag "welcome" %>
    <%= javascript_include_tag :defaults %> 
  </head> 
  <body>
    <div id="wrapper">
	  <div id="welcome_header">
	    <div id="branding">
	      <%= nav_link image_tag("surftrottr_large_mobile.png"), "site", "index" %>
	    </div>	  
	    <div id="login">
          <%= form_for :user do |form| %> 

            <div id="input">
			  <%= render :partial => "screen_name_field_row", :locals => {:form => form} %>
              <%= render :partial => "password_field_row", :locals => {:form => form, :field => "password"} %>
		    </div>

            <div id="submit">
			  <%= submit_tag "Login", :class => "submit" %>
			</div>
          <% end %>
  	      <div class="spacer"></div>
        </div>
  	    <div class="spacer"></div>
      </div>
		
      <%= yield %>
	  
	  <div id="footer">
  	    <span id="register">
	      Not a member? <%= link_to "Join now!", :controller => "account", :action => "register" %>
        </span>
        <div class="spacer"></div>
	  </div>
	
	</div>
  </body> 
</html>
